<!DOCTYPE html>
<html>
<script src="js/angular.min.js"></script>




<body>
    
    <h1> ANGULAR JS </h1>
    <!------------------>
    
    <div ng-app="myApp" ng-controller="servicesCtrl">
        {{dataTest}}
        You are at: {{myURL}}
        <br>
        {{theTime}}
        <br>
        {{timeMessage}}
        
        
        <h1>{{hex}}</h1>
        
        <h2>{{123 | hexFormat}}</h2>
        
    </div>
    
    <script src="js/myApp.js"></script>
    <script src="js/servicesCtrl.js"></script>
    
    <!------------------>
</body>
</html>